/* home.css */
.hero-section {
  color: #4a4a4a;
  font-family: Arial, sans-serif;
  background: #111827;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  gap: 100px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: 100px;
  }
}

.content {
  width: 500px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .content {
    text-align: left;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.hidden-lg {
  display: none;
}

@media (min-width: 1024px) {
  .hidden-lg {
    display: inline;
  }
}

.description {
  margin-bottom: 20px;
  line-height: 1.6;
}

.button-group {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .button-group {
    justify-content: flex-start;
  }
}

.primary-button {
  width: 200px;
  font-size: 20px;
  background-color: #0168b5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button:hover {
  color: black;
  background-color: #e5e7eb;
}

.secondary-button {
  background-color: #f3f4f6;
  color: #374151;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: #e5e7eb;
}

.image-container {
  max-width: 700px;
  height: 400px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .image-container {
    margin-top: 0;
  }
}

.hero-image {
  width: 100%;
  border-radius: 10px;
}
